<sly data-sly-test.bgimage = ${properties.bgimage}></sly>
<sly data-sly-test.title = ${properties.title}></sly>
<sly data-sly-test.author = ${properties.author}></sly>
<sly data-sly-test.description = ${properties.description}></sly>
<sly data-sly-test.ctatext = ${properties.ctatext}></sly>
<sly data-sly-test.ctalink = ${properties.ctalink}></sly>


<div class="assignment-body" >
    <img src="${properties.bgimage}" >
    <div class="body-text">
        <h1>${properties.title}</h1>
        <h4>${properties.author}</h4>
        <p>${properties.description}</p>
    </div>
    <button class="body-button">${properties.ctatext}<a href="${properties.ctalink}"></a></button>
    
</button>
</div>

